/* Root Values */
:root{
    --bg-color: beige;
    --font-color: black;
    --primary-color: #ffa500;
    --secondary-color: #6666ff;
    --button-ok-collor: #4ca64c;
  
}
  /* Dark Theme */
[data-theme="dark"]{
    --bg-color: #121212;
    --font-color: white;
    --primary-color: #ffa500;
    --secondary-color: #6666ff;
    --button-ok-collor: #4ca64c;
}

body{
    background-color: var(--bg-color);
    color: var(--font-color);
}